* {
  margin: 0;
  padding: 0;
  background-color: black;
}


.heading {
  color: whitesmoke;
  
  text-shadow:
      0 0 7px rgb(23, 38, 167),
      0 0 10px rgb(37, 20, 190),
      0 0 21px rgb(55, 29, 204),
      0 0 42px rgb(65, 87, 212),
      0 0 82px rgb(39, 29, 175),
      0 0 92px rgb(43, 20, 107),
      0 0 102px rgb(77, 12, 228),
      0 0 151px rgb(54, 17, 190);

  text-align: center;
  margin-bottom: 40px;
  text-decoration: underline;
}
.timebox {
  border: px solid white;
  width: 220px;
  margin: 20px;
  padding: 10px;
}
.mainbox {
  display: flex;
}

.timebox h1 {
  color: white;
}
.timebox p {
  
  color: #fff;
  text-shadow:
      0 0 4px #fff,
     
      
      0 0 10px rgb(112, 1, 1);

  font-weight: 800;
  font-size: 33px;
}


.mainbox .timebox button{
  
  background-color:white;
  font-size:17px;
  font-weight: 400;
 
  padding: 20px;
  border-radius: 14px;
  position: absolute;
  margin-top: 10px;
  
}
